.uploadDragger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.uploadButton {
  width: 50px !important;
  height: 50px;
  border: 2px dashed var(--text-300);
  font-size: 20px;
}

.preview {
  @previewHeight: 350px;

  user-select: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: var(--bg-300);

  transition: all ease 0.3s;

  .previewImage {
    height: @previewHeight;
    object-fit: contain;
  }

  .uploadingPreview {
    height: @previewHeight;
    filter: blur(2px) brightness(0.8);
  }

  .previewGridButton {
    position: absolute;
    z-index: 20;
    top: 5px;
    right: 5px;
  }

  .previewResizeHandle {
    cursor: ns-resize;

    position: absolute;
    bottom: -8px;
    left: 0;

    width: 100%;
    height: 8px;
    border-top: 1px solid var(--bg-400);

    background-color: var(--primary-100-alpha-10);

    &:hover {
      background-color: var(--primary-100-alpha-30);
    }
  }

  .uploadProgress {
    position: absolute;
    top: 50%;
  }
}
