@padding: 12px;
@toolsWidth: 80px;
@configWidth: 300px;

.mobileNotSupportedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 20px;
}

.editorContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);

  .toolsContainer {
    flex: 0 0 @toolsWidth;
    padding: @padding;
    background-color: var(--bg-100);
    filter: drop-shadow(4px 0 3px var(--shadow-100))
      drop-shadow(2px 0 2px var(--shadow-100));

    .toolsPanel {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .toolButton {
        width: 40px;
        height: 40px;
        font-weight: 700;

        @media (width <= 768px) {
          flex-shrink: 0;
          width: 50px;
          height: 50px;
        }
      }

      @media (width <= 768px) {
        overflow: auto;
        flex-flow: row nowrap;
        flex-shrink: 0;

        ::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @media (width <= 768px) {
      flex: 0 0 auto;

      // 隐藏滚动条
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    @media (width <= 768px) {
      height: 81vh;
    }
  }

  .CanvasWrapper {
    position: relative;

    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .CanvasViewport {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--bg-200);

      .canvasStage {
        will-change: transform;
        position: relative;
        transform-origin: top left;

        > canvas {
          position: absolute;
          inset: 0;
        }

        .bgCanvas {
          z-index: 1;
          image-rendering: pixelated;
        }

        .pixelCanvas {
          z-index: 2;
          image-rendering: pixelated;
        }

        .previewCanvas {
          pointer-events: none;
          z-index: 3;
          image-rendering: pixelated;
        }
      }
    }

    @media (width <= 768px) {
      height: 80vh;
    }
  }

  .configContainer {
    flex: 0 0 @configWidth;
    padding: @padding;
    background-color: #fff;
    filter: drop-shadow(-4px 0 3px rgb(0 0 0 / 7%))
      drop-shadow(-2px 0 2px rgb(0 0 0 / 6%));

    .configsPanel {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;

      height: 100%;

      .configBase {
        width: 100%;
      }

      .createButton {
        flex-shrink: 0;
        width: 100%;
      }

      .saveButton {
        flex-shrink: 0;
        width: 100%;
      }

      .clearButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: end;

        width: 100%;
        height: 100%;

        .clearButton {
          width: 100%;
        }
      }
    }
  }

  .operationHint {
    pointer-events: none;

    position: absolute;
    bottom: 12px;
    left: 12px + @toolsWidth;

    font-size: 12px;
    color: rgb(255 255 255 / 70%);
    white-space: pre-line;
    // 自动反色适配
    mix-blend-mode: difference;
  }

  @media (width <= 768px) {
    flex-direction: column;
    height: 100%;
  }
}

.rowsInput {
  margin-bottom: 0;
}

.numberInput {
  width: 120px;
}
