.overlayRoot {
  pointer-events: auto;

  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--mask-bg);
}

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.tipText {
  color: var(--header-text-hover);
}
