.container {
  height: calc(100vh - 167px);

  .title {
    font-size: 60px;
    color: var(--primary-200);
    text-align: center;
    margin: 5px 0;
    transition: transform 0.5s ease;
    display: inline-block;

    @media (max-width: 768px) {
      font-size: 40px;
      margin-top: 40px;
      padding: 0 20px;
    }

    span {
      font-family: "C24XCN", sans-serif;
      display: inline-block;
      position: relative;
      color: var(--primary-200);
      animation: bounce 0.5s ease infinite alternate;
    }
  }

  .content {
    padding: 40px;

    @media (max-width: 768px) {
      padding: 10px;
    }

    .startButton {
      font-size: 20px;
      height: 60px;
      padding: 0 40px;
      border-radius: 30px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-25px) scale(1.05);
        box-shadow: 0 10px 20px rgba(99, 102, 241, 0.2);
        color: var(--primary-200);
      }
    }
  }

  .imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    @media (max-width: 768px) {
      padding: 10px 20px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
