.multiAlgorithmPanel {
  width: 100%;

  .settingLabel {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-200);
  }

  .miniSettingLabel {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-300);
  }

  .checkboxLabel {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-200);
  }

  .divider {
    margin: 4px 0;
  }

  // 卷轴式展开容器
  .rollContainer {
    pointer-events: none;

    transform: translateY(-6px);

    overflow: hidden;

    max-height: 0;

    opacity: 0;

    transition:
      max-height 240ms ease,
      opacity 180ms ease,
      transform 240ms ease;
  }

  .rollOpen {
    pointer-events: auto;
    transform: translateY(0);
    // 足以容纳当前选项高度
    max-height: 1000px;
    opacity: 1;
  }

  .factorOrder {
    padding: 2px 8px;
    border-radius: 4px;
    background-color: var(--bg-300);

    .factorOrderItem {
      cursor: move;

      padding: 2px 4px;
      border: 1px dashed var(--border-100);
      border-radius: 4px;

      font-size: 12px;
      font-weight: 500;
      color: var(--text-200);

      background: var(--bg-100);
    }

    @media (width <= 768px) {
      .factorOrderItem {
        cursor: pointer;
      }
    }
  }
}
