.paletteSelect {
  width: 100%;

  .settingLabel {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-200);
  }

  .palettePreviewContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    margin-top: 5px;
  }

  .paletteColor {
    display: inline-block;

    width: 20px;
    height: 20px;
    border: 1px solid var(--border-100);
    border-radius: 4px;
  }
}
